.main-home {
    background: var(--cor-primaria);
    color: var(--cor-white);
    padding: 0 2rem;
}

.main-home .container-limite {
    display: block;
}

#rdm {
    max-height: 70%;
}

.main-home section {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 3rem 0;
}

.main-home section .texto {

    h1 {
        font-size: 2em;
        margin-bottom: 3rem;
    }

    p {
        font-size: 1.5em;
    }
}

.main-home section .foto {
    /*box-shadow: 0px 3rem 5rem black;*/
}

.main-home aside {
    background: #fb5;
}

@media screen and (min-width: 768px) {
    .main-home {
    }
    
    .main-home section {
        flex-direction: row;
    
        div {
            flex: 1 1 auto;
        }
    }
}














:root {
    --cor-primaria: #7380ec;
    --cor-secundaria: #0000be;
    --cor-tercearia: #28289f;
    --cor-quaternaria: #4c4cff;
    --cor-danger: #ff7782;
    --cor-success: #41f1b6;
    --cor-warning: #fb5;
    --cor-white: #fff;
    --cor-info-dark: #7d8da1;
    --cor-info-light: #dce1eb;
    --cor-dark: #363949;
    --cor-light: rgba(132, 139, 200, 0.18);
    --cor-primary-variant: #111e88;
    --cor-dark-variant: #677483;
    --cor-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shedow: 0 2rem 3rem var(--color-light);
}