main section {
    padding: 0 4%;
    background: red url(../materiais/img/home-background.png) no-repeat center center;
    color: white;
}

main section.top .margem {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main section.top h1 {
    font-size: 3rem;
    margin-top: 2rem;
    color: lightblue;
}

main section.top p {
    text-indent: 2rem;
    text-align: justify;
    font-size: 1.5rem;
    margin: 0rem 0 2rem 0;
}
