@font-face {
    font-family: geral;
    src: url(../materiais/fontes/Poppins/Poppins-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: geral, Arial, Helvetica, sans-serif;
}

.margem {
    max-width: 1200px;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 2em;
}
