@charset "UTF-8";

/* ESTILO GERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-decoration: none;
}

.hmf {
    display: flex;
    max-width: 1800px;
    margin: auto;
}

/* ESTILO BODY */

body {
    width: 100vw;
    height: 100vh;
    background: #002a5b;
}

/* ESTILO HEADER */

header {
    align-items: center;
    height: 100px;
    background: #000000a2;
    box-shadow: 2px 2px 3px black;
}

header .div-logo {
    flex: 1 1 100%;
    text-align: center;
}

header .div-logo img {
    max-width: 100px;
    max-height: 100px;
}

header nav {
    flex: 1 1 100%;
}

header nav ul {
    display: flex;
    width: 100%;
}

header nav ul li {
    display: inline-block;
    flex: 1 1 100%;
    margin: 30px 0px;
    text-align: center;
    list-style: none;
}

header nav ul li a {
    padding: 13px;    
    /* border: 1px solid white; */
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
}

header nav ul li a:hover {
    background: white;
    color: #0077ff;
}

/* ESTILO MAIN */

