.cabecalho {
    width: 100%;
    height: auto;
    padding: 0 1rem;

    background: #286d89;
}

.cabecalho > .container-limite {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    background: rebeccapurple;
}

.cabecalho_menu {
    display: flex;   
    color: aliceblue;
}

.cabecalho_menu-item {
    margin-left: 2rem;
}